<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>CSS3 Transitions and Animations in CSS and triggering them with JavaScript</h3>
            <hr/>
            <p>CSS transitions allows you to change property values smoothly (from one value to another), over a given duration. <a href="https://www.w3schools.com/css/css3_transitions.asp" target="_blank"><cite>https://www.w3schools.com/css/css3_transitions.asp</cite></a></p>
            <button type="button" class="btn primary">Example 1</button>
        </div>

        <div class="col-4">
            <p>CSS animations allows animation of most HTML elements without using JavaScript or Flash! <a href="https://www.w3schools.com/css/css3_animations.asp" target="_blank"><cite>https://www.w3schools.com/css/css3_animations.asp</cite></a></p>
            <div id="balls">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>

        <div class="col-4">
            <p>Another more simple animation:</p>
            <div id="animatedSquare"></div>
        </div>

        <div class="col-4">
            <p>Animation triggered with Javascript</p>
            <div class="rightArrow"><i class="fas fa-arrow-right fa-5x"></i></div>
            <button class="rightArrowBtn btn primary" value="play">Play</button>
        </div>
    </div>
</div>