<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      <a href="/"><i class="fas fa-home"></i> cit261 CSS</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input type="checkbox" id="nav-check">
  <div class="nav-links">
    <a href="/"><i class="fab fa-github"></i> Github</a>
    <a href="/"><i class="fab fa-stack-overflow"></i> Stack Overflow</a>
    <a href="/"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
    <a href="/"><i class="fab fa-facebook-square"></i> Facebook</a>
    <a href="/"><i class="fab fa-codepen"></i> CodePen</a>
  </div>
</div>